# Logs
logs
*.log
npm-debug.log*

# Dependency directory
node_modules/

# Cache
.npm
.cache/

# dotenv environment variable files
.env*

# build output
_site

# Mac files
.DS_Store

# Obsidian vault files
.obsidian

# Local temp files
tmp
