/* Article */

article.basics,
article.tutorials {
  background: #fff;
  box-shadow: 0.5rem 0.5rem 0 var(--primary-color-8);
  display: flex;
  flex-direction: column;
  grid-column: 1 / span 4;
  justify-content: space-between;
  width: 100%;
}

article.post {
  grid-column: 1 / span 4;
  max-width: var(--content-w-regular);
}

article.basics .maincontent,
article.tutorials .maincontent {
  padding: 0.8rem 1rem 1rem;
}

@media screen and (min-width: 80rem) {
  article.basics,
  article.tutorials {
    grid-column: 2 / span 3;
    margin-top: 0;
    order: 2;
  }

  article.basics .maincontent,
  article.tutorials .maincontent {
    padding: 1.8rem 2rem 2rem;
  }

  article.post {
    font-size: 1.25rem;
  }

  article.basics,
  article.tutorials {
    font-size: 1.25rem;
  }
}

.article_title {
  color: var(--primary-color-9);
}

article.post .article_title {
  color: var(--color-text);
}

@media screen and (min-width: 60rem) {
  article.post .article_title {
    font-size: 3.5rem;
  }
}

.article_metadata {
  font-size: 0.75rem;
  margin-top: 0.5rem;
}

@media screen and (min-width: 80rem) {
  .article_metadata {
    font-size: 1rem;
  }
}

.article_metadata + p {
  font-size: 1.25em;
  line-height: 1.3;
  margin: 1.5rem 0;
}

article.post .article_title + p {
  color: var(--color-text);
  font-size: 1.25rem;
  line-height: 1.3;
  margin-top: 1rem;
}

@media screen and (min-width: 60rem) {
  article.post .article_title + p {
    font-size: 1.5rem;
  }
}

article.basics a,
article.tutorials a {
  color: var(--secondary-color);
}

.maincontent ul li::before {
  color: var(--primary-color-8);
  content: "–";
  display: inline-block;
  margin-left: -1.25em;
  width: 1.25em;
}

.post li::before {
  color: inherit;
  content: "–";
  display: inline-block;
  margin-left: -1.25em;
  width: 1.25em;
}

/* Media */

.post img {
  border-bottom: 0.5rem solid var(--primary-color-8);
  box-sizing: content-box;
}

/* Github Link */

.githubAside {
  align-items: center;
  display: grid;
  gap: 0 1rem;
  grid-template-columns: 2rem auto;
  margin-top: 1rem;
  padding: 1.8rem 1rem 2rem;
}

@media screen and (min-width: 60rem) {
  .githubAside {
    margin-top: 0;
    padding: 1.8rem 2rem 2rem;
  }
}

.coffee p {
  margin-top: 0;
}

.logoBmc {
  grid-row: span 2;
  max-width: 2rem;
}

/* Sidebar */

.sidebar {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  grid-column: 1 / span 4;
  width: 100%;
}

.sidebar_title {
  font-size: 1.5em;
  margin: 0 0 -1rem;
  width: 100%;
}

.sidebar nav {
  width: 100%;
}

@media screen and (min-width: 40rem) {
  .sidebar nav {
    width: 50%;
  }

  .sidebar nav:nth-of-type(even) {
    padding-left: 1rem;
  }

  .sidebar nav:nth-of-type(odd) {
    padding-right: 1rem;
  }
}

@media screen and (min-width: 80rem) {
  .sidebar {
    flex-direction: column;
    grid-column: 1 / span 1;
  }

  .sidebar nav {
    width: 100%;
  }

  .sidebar nav:nth-of-type(even),
  .sidebar nav:nth-of-type(odd) {
    padding: 0;
  }
}

.sidebar_nav_subtitle {
  font-size: 1em;
  margin: 2rem 0 1rem;
}

.sidebar_nav_list {
  font-size: 1rem;
  list-style: none;
  padding: 0;
}

.sidebar_nav_listitem {
  margin: 0;
}

.sidebar_nav_listitem a {
  background: #fff;
  border-bottom: 3px solid var(--primary-color-9);
  color: var(--primary-color-9);
  display: block;
  padding: 0.75rem;
  text-decoration: none;
}

.sidebar_nav_listitem a:focus,
.sidebar_nav_listitem a:hover,
.sidebar_nav_listitem [aria-current="page"] {
  border-bottom-color: var(--secondary-color);
  color: var(--secondary-color) !important;
}
