#gatsby-focus-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

p {
  margin-top: 1rem;
}

/* Headings */

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.15;
}

h2,
h3,
h4,
h5,
h6 {
  letter-spacing: -0.02em;
  margin-top: 2rem;
}

h1 {
  font-size: 2em;
  font-weight: normal;
}

h2 {
  font-size: 1.5em;
  font-weight: bold;
}

h3 {
  font-size: 1.25em;
  font-weight: bold;
}

h4,
h5,
h6 {
  font-size: 1.25em;
  font-weight: normal;
}

/* Lists */

ul,
ol {
  padding: 0;
  margin: 1rem 0 0 0;
}

ul {
  list-style: none outside;
}

ul > li {
  margin: 0.5rem 0 0 2em;
}

ol > li {
  margin: 0.5rem 0 0 2em;
  padding-left: 0.25em;
}

li ul,
li ol {
  margin: 0.5rem 0 0 0.5em;
}

li ul > li {
  margin-left: 1em;
}

li ol {
  list-style-type: lower-latin;
}

li ol > li {
  margin-left: 0.5em;
}

/* Links */

a {
  color: var(--color-text);
}

a:hover {
  color: var(--color-text);
}

*:focus {
  outline: 2px solid var(--secondary-color);
}

a:focus {
  background-color: #fff;
  color: var(--secondary-color);
  text-decoration: none;
}

*:focus:not(:focus-visible) {
  outline: none;
}

/* Blockquote */

blockquote {
  border-left: 5px solid var(--color-gray);
  background: var(--color-gray-bright);
  margin-top: 1rem;
  padding: 0.5rem 0.5rem 0.5rem 0.75rem;
}

blockquote > p {
  margin-top: 0;
}

/* Code */

code,
kbd,
tt,
var {
  font-family: Consolas, Monaco, "Andale Mono", "DejaVu Sans Mono", monospace;
  font-size: 0.9em;
}

/* HR */

hr {
  border: none;
  border-top: 3px dotted var(--primary-color-6);
  margin-top: 3rem;
}

/* TOC */

.toc + ul p,
.toc + ul ul {
  margin-top: 0;
}

/* Messages */

.note {
  background: #e7f5ff;
  border-left: 5px solid #228be6;
  padding: 0.5rem 0.5rem 0.5rem 0.75rem;
}

.warning {
  background: #fff9db;
  border-left: 5px solid #fab005;
  padding: 0.5rem 0.5rem 0.5rem 0.75rem;
}

/* Glossary TOC */

.glossary-toc + ul,
.glossary-toc > ul {
  list-style: none;
  margin: 0;
}

.glossary-toc + ul li,
.glossary-toc > ul li {
  background: #fff;
  display: inline-block;
  margin: 1rem 1rem 0 0;
  padding: 0 0.25rem;
}

.glossary-toc + ul li::before {
  content: none;
}

/* Tables */

table {
  border-collapse: collapse;
  font-size: 1rem;
  margin-top: 1rem;
}

th {
  border-bottom: 2px solid var(--color-text);
  font-weight: bold;
}

td {
  border-bottom: 1px solid var(--color-gray);
}

th,
td {
  padding: 0.25em 1em 0.25em 0;
  vertical-align: top;
}

.pdfTags table {
  width: 54em;
}

.pdfTags td:nth-child(1) {
  width: 5em;
}
.pdfTags td:nth-child(2) {
  width: 19em;
}

.pdfTags td:nth-child(3) {
  width: 15em;
}

.pdfTags td:nth-child(4) {
  width: 15em;
}

.tableResponsive {
  background-image: linear-gradient(to right, white, white), linear-gradient(to right, white, white),
    linear-gradient(
      to right,
      rgba(var(--color-gray-r), var(--color-gray-g), var(--color-gray-b), 0.2),
      rgba(255, 255, 255, 0)
    ),
    linear-gradient(
      to left,
      rgba(var(--color-gray-r), var(--color-gray-g), var(--color-gray-b), 0.2),
      rgba(255, 255, 255, 0)
    );
  /* Shadows */
  /* Shadow covers */
  background-position: left center, right center, left center, right center;
  background-repeat: no-repeat;
  background-color: white;
  background-size: 20px 100%, 20px 100%, 20px 100%, 20px 100%;
  background-attachment: local, local, scroll, scroll;
  overflow: auto;
}

/* Embeds */

.gatsby-resp-iframe-wrapper {
  margin-top: 1rem;
}
