:root {
  /* Fonts */
  --primary-font: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;

  /* Colors */
  --primary-color: #12b886;
  --primary-color-dark: #099268;
  --secondary-color: #e6144a;
  --text-color: #212529;

  /* Sizes and widths */
  --content-w-wide: 80rem;
  --content-w-regular: 60rem;
  --content-w-narrow: 40rem;
}
