:root {
  /* Fonts */
  --primary-font: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial,
    sans-serif;

  /* Colors */
  --primary-color-6: #12b886;
  --primary-color-8: #099268;
  --primary-color-9: #087f5b;
  --secondary-color: #c92a2a;
  --color-text: #212529;
  --color-gray: #adb5bd;
  --color-gray-r: 173;
  --color-gray-g: 181;
  --color-gray-b: 189;
  --color-gray-bright: #f1f3f5;

  /* Sizes and widths */
  --content-w-wide: 80rem;
  --content-w-regular: 60rem;
  --content-w-narrow: 40rem;
  --content-w-narrower: 20rem;
}
