.container {
  font-size: 1.25rem;
}

@media screen and (min-width: 60rem) {
  .title {
    font-size: 3.5rem;
  }
}

.dog {
  bottom: -2rem;
}

@media screen and (min-width: 40rem) {
  .dog {
    float: right;
    width: 50%;
  }
}