---
layout: layouts/page.njk
title: Page not found
---
<div id="errorpage">
	<div class="info">
		<p>
			Oh no, something went wrong. <br/>
			The requested page doesn't seem to exist. Maybe it has been deleted or moved.
		</p>
	</div>
	<div class="image">
		{% image "src/assets/img/dog.jpg", "Sad looking dog wears a jeans jacket." %}
	</div>
</div>