---
layout: page.njk
---
<div id="errorpage">
  <h1 class="title">{{ i18n.error.title.en }}</h1>
  <p>{{ i18n.error.description.en }}</p>
  <div class="dog">
    {% image "src/assets/img/dog.jpg", i18n.error.dog.en %}
  </div>
</div>