---
eleventyExcludeFromCollections: true
permalink: /sitemap.xml
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
	{% for item in collections.pageInSitemap %}
		<url>
			<loc>https://accessible-pdf.info{{ item.url }}</loc>
			<lastmod>{{ item.date | htmlDateString }}</lastmod>
			<changefreq>{{ item.data.sitemapChangefreq | default("monthly") }}</changefreq>
			<priority>{{ item.data.sitemapPriority | default(1.0) }}</priority>
		</url>
	{% endfor %}
	{% for item in collections.basics %}
		<url>
			<loc>https://accessible-pdf.info{{ item.url }}</loc>
			<lastmod>{{ item.date | htmlDateString }}</lastmod>
			<changefreq>{{ item.data.sitemapChangefreq | default("monthly") }}</changefreq>
			<priority>{{ item.data.sitemapPriority | default(1.0) }}</priority>
		</url>
	{% endfor %}
	{% for item in collections.tutorials | reverse %}
		<url>
			<loc>https://accessible-pdf.info{{ item.url }}</loc>
			<lastmod>{{ item.date | htmlDateString }}</lastmod>
			<changefreq>{{ item.data.sitemapChangefreq | default("monthly") }}</changefreq>
			<priority>{{ item.data.sitemapPriority | default(1.0) }}</priority>
		</url>
	{% endfor %}
</urlset>