.footer {
  background: var(--primary-color-8);
  border-top: 0.5rem solid var(--primary-color-9);
  color: #fff;
  font-size: .8rem;
  margin-top: auto;
  padding: 1rem;
  width: 100%;
}

.footer_container {
  margin: 0 auto;
  max-width: var(--content-w-wide);
}
