.masthead {
  background-color: white;
  border-bottom: 0.5rem solid var(--primary-color-8);
  padding: 1rem;
  text-align: center;
}

.header_container {
  max-width: var(--content-w-wide);
}

.site_logo {
  margin: 1rem auto;
  max-width: 6rem;
}

.masthead_info {
  color: var(--color-text);
}

.masthead_info a {
  color: inherit;
  text-decoration: none;
}

.site_title {
  font-size: 1.25rem;
}

@media screen and (min-width: 60rem) {
  .masthead {
    text-align: left;
  }

  .header_container {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
  }

  .masthead_info a {
    display: grid;
    grid-template-columns: 3rem auto;
    gap: 0 0.5rem;
    align-items: center;
  }

  .site_logo {
    grid-row: span 2;
    margin: inherit;
  }

  .navigation {
    align-self: center;
  }
}

@media screen and (min-width: 80rem) {
  .masthead {
    padding: 2rem 1rem;
  }
}
