html {
  background: var(--primary-color-8);
  scroll-behavior: smooth;
}

@media (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}

@media screen and (min-width: 40rem) {
  html {
    font-size: 112.5%; /* 1rem = 18px */
  }
}

body {
  background: var(--primary-color-6);
  box-sizing: border-box;
  color: var(--color-text);
  font-family: var(--primary-font);
  letter-spacing: -0.015em;
  text-align: left;
}

.site_main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 2rem;
  justify-items: stretch;
  margin: 1rem auto;
  padding: 1rem;
  max-width: var(--content-w-wide);
}
