.note {
  background: #e7f5ff;
  border-left: 5px solid #228be6;
  padding: 0.5rem 0.5rem 0.5rem 0.75rem;
}

.warning {
  background: #fff9db;
  border-left: 5px solid #fab005;
  padding: 0.5rem 0.5rem 0.5rem 0.75rem;
}
