---
layout: layouts/base.njk
---
<article class="basics" data-pagefind-body>
	<div class="maincontent">
		<h1 class="article_title">{{ title }}</h1>
		<p class="article_metadata">
			<span>
				{{ i18n.article.meta.author[page.lang] }}
				{{ author }}
			</span>
			<br/>
			<span>
				{{ i18n.article.meta.updated[page.lang] }}
				{{ date | localizedDate(page.lang, dateFormat) }}
			</span>
		</p>
		{{ content | safe }}
	</div>
	<div>
		{% include "../includes/github.njk" %}
		{% include "../includes/coffee.njk" %}
	</div>
</article>

<aside class="sidebar">
	{% if tags.includes("basics") %}
		{% include "../includes/sidebar_basics.njk" %}
	{% elseif tags.includes("tutorials") %}
		{% include "../includes/sidebar_tutorials.njk" %}
	{% endif %}
</aside>