<aside class="coffee">
<img src="/assets/img/bmc.svg" alt="" class="logoBmc" />
<p>
	{{ i18n.coffee.question[page.lang] }}
</p>
<p>
	<a href="https://www.buymeacoffee.com/stebre">
		{{ i18n.coffee.link[page.lang] }}
	</a>
</p>
</aside>