<aside class="githubAside">
	<img
		src="/assets/img/github-logo.svg"
		alt="{{ i18n.github.icon[page.lang] }}"
	/>
	<a href="https://github.com/stebrech/accessible-pdf/blob/public/{{ page.inputPath }}">
		{{ i18n.github.edit[page.lang] }}
	</a>
</aside>