<aside class="githubAside">
	{% include "./svg/github-logo.svg" %}
	<div id="github-logo-description" class="screen-reader-text">{{ i18n.github.icon[page.lang] }}</div>
	<a href="https://github.com/stebrech/accessible-pdf/blob/public/{{ page.inputPath }}">
		{{ i18n.github.edit[page.lang] }}
	</a>
</aside>
