---
layout: layouts/page.njk
title: Seite nicht gefunden
---
<div id="errorpage">
	<div class="info">
		<p>
			Oh nein, irgendetwas ist schief gegangen.<br/>
			Die aufgerufene Seite scheint nicht zu existieren. Vielleicht wurde sie gelöscht oder verschoben.
		</p>
	</div>
	<div class="image">
		{% image "src/assets/img/dog.jpg", "Traurig aussehnder Hund trägt eine Jeansjacke." %}
	</div>
</div>